<head>
    <link rel="stylesheet" href="~/css/footer.css" />
</head>
<footer class="footer">
    <div class="footer-main">

        <div class="footer-left">
            <a asp-controller="Home" asp-action="Index">
                <h2 class="logo"><img src="~/images/logo.png" alt="Logo HealthMeet"></h2>
            </a>
            <p class="slogan">Đặt khám nhanh - Uy tín - Chất lượng</p>
            <p><strong>Địa chỉ:</strong> Thành phố Quy Nhơn, Bình Định</p>
            <p><strong>Website:</strong> healthmeet.com</p>
            <p><strong>Email:</strong> admin@healthmeet.com</p>
            <p><strong>Điện thoại:</strong> 1900 2005</p>
        </div>

        <div class="footer-right">
            <div class="footer-top-row">
                <div class="footer-col">
                    <h3>Dịch vụ Y tế</h3>
                    <ul>
                        <li><a asp-controller="DVYT" asp-action="ĐKCS">Đặt khám tại cơ sở</a></li>
                        <li><a asp-controller="DVYT" asp-action="ĐKCK">Đặt khám chuyên khoa</a></li>
                        <li><a asp-controller="DVYT" asp-action="ĐKBS">Đặt khám theo bác sĩ</a></li>
                        <li><a asp-controller="DVYT" asp-action="ĐKNG">Đặt khám ngoài giờ</a></li>
                        <li><a asp-controller="DVYT" asp-action="TTVP">Thanh toán viện phí</a></li>
                        
                    </ul>
                </div>

                <div class="footer-col">
                    <h3>Cơ sở y tế</h3>
                    <ul>
                        <li><a asp-controller="CSYT" asp-action="BVCong">Bệnh viện công</a></li>
                        <li><a asp-controller="CSYT" asp-action="BVTu">Bệnh viện tư</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h3>Hướng dẫn</h3>
                    <ul>
                        <li>
                            <a asp-controller="HD"
                               asp-action="CĐ">
                                Cài đặt ứng dụng
                            </a>
                        </li>

                        <li>
                            <a asp-controller="HD"
                               asp-action="QTHP">
                                Quy trình hoàn phí
                            </a>
                        </li>

                        <li>
                            <a asp-controller="HD"
                               asp-action="CHTG">
                                Câu hỏi thường gặp
                            </a>
                        </li>

                        <li>
                            <a asp-controller="HD"
                               asp-action="QTĐK">
                                Quy trình đi khám
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom-row">
                <div class="footer-col">
                    <h3>Liên hệ hợp tác</h3>
                    <ul>
                        <li>
                            <a asp-controller="LH"
                               asp-action="CSYT">
                                Cơ sở y tế
                            </a>
                        </li>
                        <li>
                            <a asp-controller="LH"
                               asp-action="QC">
                                Quảng cáo
                            </a>
                        </li>
                        <li>
                            <a asp-controller="LH"
                               asp-action="TD">
                                Tuyển dụng
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h3>Về Trang chủ</h3>
                    <ul>
                        <li>
                            <a asp-controller="TC" 
                            asp-action="GT">
                            Giới thiệu</a>
                        </li>

                        <li>
                            <a asp-controller="TC"
                               asp-action="ĐK">
                                Điều khoản dịch vụ
                            </a>
                        </li>

                        <li>
                            <a asp-controller="TC"
                               asp-action="CS">
                                Chính sách bảo mật
                            </a>
                        </li>

                        <li>
                            <a asp-controller="TC"
                               asp-action="QĐ">
                                Quy định sử dụng
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="footer-logos">
    <a href="http://online.gov.vn/Home/WebDetails/44668" target="_blank">
        <img src="~/images/footer/dadangky.webp" alt="Đăng ký bộ công thương">
    </a>
    <a href="http://online.gov.vn/Home/WebDetails/44209" target="_blank">
        <img src="~/images/footer/bocongthuong.webp" alt="Thông báo bộ công thương">
    </a>
    <img src="~/images/footer/icon_ios.svg" alt="App Store">
    <img src="~/images/footer/icon_google_play.svg" alt="Google Play">
</div>

<div class="footer-bottom">
    &copy; 2020 - @DateTime.Now.Year Bản quyền thuộc Công Ty Cổ Phần Ứng Dụng PKH
</div>

<a href="tel:19002005" class="phone-button">
    <i class="fas fa-phone"></i>
</a>