@model IEnumerable<Health_Booking_MVC.Models.Specialization>
@{
    ViewData["Title"] = "Đặt khám chuyên khoa";
}

<link rel="stylesheet" href="~/css/DVYT/ĐKCK.css" asp-append-version="true" />
<link rel="icon" href="~/images/logo.png" type="image/x-icon" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

<div class="tab-container">
    <a asp-controller="DVYT" asp-action="ĐKCS" class="tab-item">Đặt khám cơ sở</a>
    <a asp-controller="DVYT" asp-action="ĐKCK" class="tab-item active">Đặt khám chuyên khoa</a>
    <a asp-controller="DVYT" asp-action="ĐKBS" class="tab-item">Đặt khám bác sĩ</a>
    <a asp-controller="DVYT" asp-action="ĐKNG" class="tab-item">Đặt khám ngoài giờ</a>
    <a asp-controller="DVYT" asp-action="TTVP" class="tab-item">Thanh toán viện phí</a>
</div>

<h1 class="title">Danh sách chuyên khoa</h1>

<div class="department-grid">
    @foreach (var item in Model)
    {
        <a href="https://medpro.vn/tim-kiem?kw=@(item.Name.Replace(" - ", " "))&tab=subject&page=1" target="_blank" rel="noopener noreferrer" class="department-card">
            <img src="~/images/iconchuyenkhoa/@(item.Name).png" alt="@item.Name" onerror="this.src='/images/logo.png'" />
            <p>@item.Name</p>
        </a>
    }
</div>